[2020-10-12 14:46] nvdaes opened #3 "Fix the translations system for add-ons"
Exbi server is sending notifications about mr commands or folders that cannot be created.
This should be fixed so people can manage translations for add-ons. Alternatively, request people to manage them independently without using a central system.
Thanks.

[2020-11-12 07:44] feerrenrut commented on #3
@nvdaes Could you please give an example for me to look at (either email to me directly or comment here is fine).

[2020-11-12 07:46] feerrenrut opened #5 "Rename repository"
This repository is mutating to hold the whole translation system, it's name should reflect that.

https://app.assembla.com/spaces/screenReaderTranslations/ will continue to exist (eventually migrating to GitHub), but should be data-oriented.

[2020-11-12 07:49] nvdaes commented on #3
Ok, after job. Just seeing your notification on movile, but I cannot look at emails at this moments, maybe in 2 hours or so, or in the evening.

[2020-11-12 07:49] feerrenrut opened #6 "Use data-driven approach to addon translations"
Currently the tasks for translating addons comes from crontab.automatic. They are the same for every addon. To make it easier to update the list of addons that require translations, use a data driven script to do the same action for a list of addons.

[2020-11-12 10:50] nvdaes commented on #3
@feerrenrut, I have forwarded you an email with an example (privately). Please let me know if you need more examples to fix this.
Thanks

[2020-11-13 07:14] feerrenrut opened #7 "SRT repo has become large"
The SRT repo has become very large. Checkouts / updates take a long time, converting to Git (and retaining commits) would take days if done on my machine (I assume GitHub could do this import much faster).

There are many transient files, such as the diffs for t2t files that seem to build up.

[2020-11-13 07:27] feerrenrut opened #8 "Use pot or xliff format for userguide"
For the user guide and other long form content translators are expected to maintain a translated version of the file, keeping the structure compatible and using diff files to guide where changes must be made.

Instead, if we can adjust the system to use pot or xliff format for the userguide, then translators can work entirely withing poedit.

This will likely help to improve the repository size is

[2020-11-13 07:47] feerrenrut opened #9 "Separate settings files from the SRT repo"
Currently settings files can be updated by any translator without the agreement of others.

Consider whether part or all of these settings files should be kept in a separate repository and updated via a PR.

We will need to fix scripts that use them, eg path updates.

[2020-11-14 04:26] feerrenrut opened #10 "Replace addresses script with mailing list and tags"
Consider whether we can replace the addresses script with a mailing list and tags.

When a language group needs to be notified, rather than directly emailing the translators, an email could be sent to a translations mailing list with a tag for the language. The benefit of this is that translators can more easily add / remove / update their email addresses.

[2020-11-22 20:13] josephsl opened #12 "Add-on files: changes to add-on files repo isn't syncing with add-ons website"
Hi all,

Perhaps due to changes made to where scripts are stored:

### Background
One minute past every hour, automatic.crontab found in add-on files repo will attempt to synchronize changes from the repo to community add-ons website. This is essential for add-on releases to happen and is a vital lifeline for Add-on Updater as it will check a Json-formatted list of add-ons to check for version dif

[2020-11-23 01:53] #12 closed

[2020-12-07 13:39] nvdaes opened #16 "Use master branch instead of stable to receive add-on translations"
Hello, in case add-on authors need to send pull request to a repo to submit translations, please consider to use just master branch instead of stable, which maybe an extra step not needed.
I'd like to mention @Abdel792, since yesterday he created a PR requesting an add-on (pre-release) on the add-ons website, and perhaps he's interested in provide feedback about this proposal. I think that the rev

[2020-12-09 10:24] nvdaes opened #17 "Improve update of webpages on add-ons website"
Currently, every person with access to Assembla repo can make changes to the add-ons website. This means that add-ons can be posted using link skipping addonFiles repo. Also, when an add-on is updated on the website, documentation needs to be updated separately, with an elapsed time since addonFile pull request are merged by @NVAccess  until someone, probably add-on authors, can update the documen

[2021-01-12 01:55] feerrenrut commented on #17
I hope that the add-on website will be updated to automatically pull data from the addon-submissions repo. It should then never have to be manually updated. Perhaps as a start we can add a couple of addons to the repo, and then work can start on creating a new addon website. I'll put forward a proposal for the change to addon translation process soon, that should complete the picture.

[2021-01-12 02:07] nvdaes commented on #17
This is great! In case you want to add real add-ons, I created a PR for placeMarkers 15.-0 in addonFiles repo, and I released 13.-0 dev for clipContentsDesigner. If you want me to send a PR with these add-ons to the submision repo, let me know, or you may prefer to add not real add-ons yourself for testing. Also, @josephsl may want to coordinate this work in case the addonTemplate needs some chang

[2021-03-28 12:42] dpy013 commented on #7
The current repository import function of NVDA's svn repository github is no longer able to import properly:
We found an error during import
We recommend restarting the import process, but if you are still having trouble
[contact support](https://github.com/contact)
This repository is too large.

[2021-05-07 21:08] bdorer commented on #8
This would be great but before NVDA'S Poedit support must be revisited. At the moment translators have no chance to see which line is translated or fuzzy without checking translation or the coresponding checkbox.

[2021-05-07 21:12] bdorer commented on #7
If NVDA 2021.1 translation has been completed I'll update translation wiki and will remove old diffs. Translations which aren't updated should be deleted in my point of view.

[2021-05-07 21:15] bdorer commented on #3
@nvdaes is there any proggress here? May you attach your private mail here?

[2021-05-08 08:13] nvdaes commented on #3
Hi Bernd, I think this is fixed for most add-ons. Reef mentioned some add-ons that need to be managed by author to match the system requirements, but this is not an issue in the system itself:

https://nvda-addons.groups.io/g/nvda-addons/message/14955

Another question would be that documentation is needed to register new add-ons to be translated.
@feerrenrut , can you confirm if this is fixed? In

[2021-05-08 17:37] grisov commented on #3
Thank you Noelia!

Yes, I am also interested in this question.

For example, the [Quick Dictionary](https://addons.nvda-project.org/addons/quickDictionary.en.html) add-on is already published on the community website, but I don't know yet what steps I need to take to register this new add-on to be translated.

It would be great if there was a simple step-by-step instruction.

[2021-05-12 05:17] feerrenrut commented on #3
I think this issue should be resolved. I agree it would be good to have docs about how to add a new addon. Please create a new issue, with a link to the addon that should be introduced to the translations system. I'll have to learn all the details myself for introducing a new addon, as part of that I will document the process and requirements.

[2021-05-12 05:17] #3 closed

[2021-05-12 05:19] feerrenrut commented on #16
While I agree that the system shouldn't dictate the branch to be used to receive translations, I'd like to avoid making changes to this system. We intend to replace this system with a more flexible approach in the future, unfortunately I don't currently have a timeline.

[2021-05-12 05:19] #16 closed

[2021-05-12 05:20] feerrenrut commented on #10
We have decided not to do this. It will be a disruption, and will likely be resolved when moving to newer translation system.

[2021-05-12 05:20] #10 closed

[2021-05-12 05:21] feerrenrut commented on #9
We have decided not to do this now. This may be considered during/after moving to a new translation system.

[2021-05-12 05:21] #9 closed

[2021-05-12 05:22] feerrenrut commented on #8
Thanks for that comment @bdorer. Could you please create an issue on NVDA, it is really an issue with NVDA.

[2021-05-12 09:20] nvdaes opened #30 "Register pcKbBrl add-on"
Please, register this add-on to be translated with the translations system.

- url: https://github.com/nvdaes/pcKbBrl
The add-on is available on the official website. @feerrenrut , you will note that NV Access is an author of this add-on, but I'm maintaining it with agreement of @jcsteh

Documentation about adding new add-ons to the old system, when I had access to NV Access server, is available a

[2021-05-12 16:00] bdorer commented on #8
thanks @feerrenrut. There are allready issues such: #7303, #4371, #11044.

[2021-05-19 11:30] dpy013 commented on #7
I agree with your comment

[2021-05-19 11:37] dpy013 commented on #7
Also I personally think that the conversion process of translation repositories needs to be speeded up, currently svn has a lot of problems.
The first problem is the huge size, the second problem is that there are some localization maintainers who cannot receive emails, and the last problem is that the translation repository cannot effectively collaborate with the main codebase effectively and has

[2021-05-23 23:56] dpy013 commented on #7
Hello everyone
I have used a day
I converted the screenReaderTranslations svn repository to git on my Tencent cloud server.
Note: This is a preliminary conversion, there may be a lot more work to be done.
Here is the github repository address:
https://github.com/xingkong0113/NVDA-IE8n.git
thanks

[2021-05-26 06:44] feerrenrut commented on #7
That is interesting @xingkong0113, can you tell us how big that repository is?

[2021-06-01 13:33] CyrilleB79 opened #32 "Register Character Information in translation system"
Could you please register Character Information in the translation system? This add-on is already present on the official add-on community website.

GitHub repo URL:
https://github.com/CyrilleB79/charInfo

The files to be synchronized are the interface file (.po) as well as the documentation (.md), as for other add-ons.

Note: The translation of localized files specific to this add-on (found in ad

[2021-06-01 14:09] CyrilleB79 commented on #32
Additional note:
For now, I have manual French translations in addon/doc and addon/locale. Let me know if I should remove the translated files from these folders. Thanks.

[2021-06-14 11:39] CyrilleB79 opened #35 "Register Windows Magnifier in translation system"
Could you please register Windows Magnifier in the translation system? This add-on is already present on the official add-on community website, for now in dev section; but I have requested the stable version to be downloadable in [this PR](https://github.com/nvaccess/addonFiles/pull/97)

GitHub repo URL:
https://github.com/CyrilleB79/winMag

The repo has already been [forked](https://github.com/nv

[2021-06-21 09:22] feerrenrut commented on #30
I have update the readme with these instructions: https://github.com/nvaccess/mrconfig/blob/master/readme.md

The first step is to get a clone of the addon here: https://github.com/nvdaaddons
When that is done I can register the addon.

[2021-06-21 09:40] feerrenrut commented on #35
This has been completed:
- 4ebe3ae7a1317dd629f14236042d70ab848a0dbc
- 8dc4319231de4e15480e39a325a2bba7d6f4fed2

[2021-06-21 09:40] #35 closed

[2021-06-21 09:42] feerrenrut commented on #32
I can't give advice on these questions at this stage. Please follow the same procedure as other addon's.

[2021-06-21 11:51] CyrilleB79 commented on #32
@nvdaes any thought? You were used to register add-ons in the past.
I guess I should remove the existing translations in stable branch; that's not a problem for me provided the various steps of the workflow do not require too much time to be validated.
Could you confirm it so that I can proceed? Thanks.

[2021-06-21 12:59] nvdaes commented on #32
Hi Cyrille, I'm not sure if not removing the existing translations
will or not cause an issue. But maybe. I recommend you to remove them
from stable branch.
Then, to follow instructions, you need to request the registration in
the translation system via the add-ons mailing list, so that people of
nvdaaddons organization (managed by the community) can fork your repo.
Then I (or someone of the nvdaa

[2021-06-21 13:37] nvdaes commented on #30
Thanks. I'll share the instructions on the add-ons mailing list so that people request the registration there. I'll fork pcKbBrl soon and I'll inform you.

[2021-06-21 13:41] CyrilleB79 commented on #32
Indeed, I had already asked the inclusion of this add-on in the translation framework on the add-on mailing list. And here was your answer 😕:

The full thread can be read [here](https://nvda-addons.groups.io/g/nvda-addons/topic/83231570#15348).

Anyway, I have removed the existing French translations. Please let me know here or in the corresponding thread of the mailing list if something is still

[2021-06-21 13:47] nvdaes commented on #32
OK, I've asked you to request this on the list since the instructions
have been updated today. But, since you requested it before, I'll fork
your repo today :)

2021-06-21 15:41 GMT+02:00, Cyrille Bougot ***@***.***>:

[2021-06-21 14:02] nvdaes commented on #32
@CyrilleB79 , I've created the needed fork of the repo on nvdaaddons organization and has sent you an invitation as a collaborator with write access in the fork, so you can manage the stable branch ensuring that the messages to be translated are updated there.
@feerrenrut or NV Access staff, you can activate the translation in the server.
Thanks

[2021-06-21 14:11] nvdaes commented on #30
@feerrenrut and @nvaccess, I've forked the repo in nvdaaddons organization and created the stable branch. You can register the add-on in the server. Thanks.

[2021-06-21 14:18] nvdaes opened #36 "Register Weather Plus in the translations system"
The repo is available in the nvdaaddons organization with the stable branch:

https://github.com/nvdaaddons/weather_plus/branches

Thanks

[2021-06-21 14:19] CyrilleB79 commented on #32
Thanks @nvdaes, I have accepted this invitation.
The stable branch was already up-to-date (with removed French translations) when you forked the repo in nvdaaddons.
So I confirm that [nvdaaddons](https://github.com/nvdaaddons) / [charInfo](https://github.com/nvdaaddons/charInfo) can be included now in the translation framework.

[2021-06-21 15:38] CyrilleB79 opened #37 "Synchronization issue for Outlook Extended, Windows Magnifier and maybe other add-ons"
Hello

I have an issue regarding Outlook Extended add-on in the translation workflow.
The add-on is already part of the workflow for a long time. And SVN seems to be updated regularly when something is pushed in the stable branch of nvdaaddons/outlookExtended repo.

However, in the other direction, the work of translators in SVN is not merged back in the stable branch of nvdaaddons/outlookExtended

[2021-06-24 12:50] CyrilleB79 opened #39 "Last commits in SRT are not shown on the website"
Since yesterday at least, new commits in the SRT repo do not trigger the corresponding update on the add-on community website.

Here is a precise example for Access8Math add-on documentation on the website:

The last SRT commit for the French translation of this documentation is:
[code]

Making an SVN diff on this commit with the previous wone, we can clearly see that the initial description of th

[2021-06-25 08:50] jmdaweb commented on #39
Hi,
In case it's related to this issue, po files stopped being updated just after I fixed some Markdown errors in Access8math documentation. I may revert the commit and see what happens.

[2021-06-25 10:05] CyrilleB79 commented on #39
@jmdaweb, please do not revert before you have ensured your commit is faulty.

Actually, the following commit seems to have triggered correctly an update on the website and is posterior to your commit:
[code]

On the contrary, the first failing commit is:
[code]

[2021-06-25 20:29] CyrilleB79 commented on #35
Thanks @feerrenrut for the work already done for this, but the framework does not fully work: translation jobs are not received.

For example for French:
* The line regarding this add-on has been correctly added in the `fr/settings`.
* We have enabled the request to receive translation jobs for this add-on in `fr/settings`, i.e. the value 1 has been set in the following line
  `"addon.winMag": "1"

[2021-06-27 19:15] nvdaes opened #40 "Register directLink add-on in translation system"
I'll forked the repo in nvdaaddons organization and checked that it contains a stable branch to request the registration, according to a conversation with @fawazar94 in PR 110 of addonFiles, ready to be reviewed by @feerrenrut after my approval.
Thanks

[2021-06-28 02:16] nvdaes opened #41 "Create issue template to request add-ons registration"
This may make easy to request add-ons registration, which can be a repeatitive process and requires standardized fields.
Issue forms (for now in beta stage) maybe easier that the markdown template.
I have created a sample for testing on my .github repo, used to store issue templates and other guidelines for all my projects on GitHub by default. Let me know if I should create a PR.

- [Template for

[2021-06-28 06:52] CyrilleB79 commented on #41
You may want to include a 'Additional comments' field.
For example, look at PR #32: I have found useful to say explicitely that there are other localized files than the standard ones that do  not need to be taken into account in the automatic translation framework.

[2021-06-28 07:13] CyrilleB79 commented on #35
The first job of in the SRT repo has been received Friday evening.

However only the variables of the `buildVars.py` file have been translated, not the ones of the add-on. But running the `scons pot` locally on my side generates all the messages.

I guess it is due to a case issue in the path of the files to be translated. That would explain why it is working on my side (on Windows), but not in th

[2021-06-28 07:48] nvdaes commented on #41
Adding a textarea for additional comments maybe useful.
Though, regarding your comment aboutfiles that shouldn't be localized, I'm not sure if this can be addressed in this repo. I think that, if possible, you should define them avoiding its inclusion in local sources via addonTemplate.
🤔

My template is just a test, so I won't modify it unless I should create a PR.

[2021-06-28 07:57] feerrenrut commented on #39
This was caused by conflicts within ikiwiki's SVN working directory on the server for the `/website/addons/access8math.fr.po` file.
The page for this addon appears to be up to date now: https://addons.nvda-project.org/addons/access8math.fr.html

I don't know what caused the conflicts.

Information for NV Access in case this happens again.
To restore I used
- `svn cleanup'
- 'svn update'
- 'svn rev

[2021-06-28 07:57] #39 closed

[2021-06-28 08:06] CyrilleB79 commented on #41
I was referring to the following comment in #32:

IMO there is no risk to interfer with translation system. Indeed, the files in addon/globalPlugins/charinfo/locale/xx are only text files. Thus they are not impacted by gettext and Python files.
I was just mentioning them since they are files located in language folders.

Anyway, if there is something still unclear on this point or if I have missed

[2021-06-28 08:09] nvdaes commented on #32
Is this repo related to text files not affected by gettext? I think it isn't. This maybe reported to translators, imo.

[2021-06-28 08:10] CyrilleB79 commented on #39
Yes the page seems OK now. Thanks!

For my information, in such cases:
* Is there a way for us (translators) to see that there is this conflict
* is there anything we can do on our side or do you need to make an intervention to fix the conflict?
Thanks.

[2021-06-28 08:12] CyrilleB79 commented on #32
@nvdaes can you clarify? I do not understand your last comment.

[2021-06-28 08:15] nvdaes commented on #32
I think this repo is intended to generate and produce po files, so, if text files that shouldn't be localized are not related to gettext, they won't produce po files and then I think you should inform translators on the translations mailing list, for example, not here.

[2021-06-28 09:01] CyrilleB79 commented on #32
Yes, I will inform translators on the mailing list when this PR is merged.

The note in this PR was not intended for translators but for NVAccess people to say:
This add-on contains language folders that are not located at the standard place. But that's not a proplem for translation framework since these folders do not contain any source file for .po generation.

I hope things are clarified now.

[2021-06-28 09:04] nvdaes commented on #32
Ok Cyrille. Thanks

[2021-06-28 10:19] feerrenrut commented on #39
No unfortunately not. This was difficult to determine the cause and took me quite a lot of time to find. I'd like to make this situation more easy to discover but without knowing what action caused it makes it difficult.

[2021-06-28 16:08] jmdaweb commented on #39
Hi,
After updating Access8Math.mdwn, I can confirm that po files update is not triggered for this document. I updated it in order to fix some formatting issues before updating the spanish translation.

[2021-06-28 21:48] CyrilleB79 commented on #39
@jmdaweb just a question:
Are you in contact of the author of Access8Math?
If not, I recommend you to put him in the loop. Else, the issues you are fixing in the doc will turn back when the add-on is updated.

[2021-06-28 21:55] CyrilleB79 commented on #39
@feerrenrut, @jmdaweb:
The update of the website content is broken again.
Please look at `windowsMagnifier.mdwn`'s history. Especially:

1. The website English content does not match the last commit of `windowsMagnifier.mdwn`:
[code]

2. The CommitBot has not generated any .po file following this revision.

May this issue due to too near updates?

[2021-06-29 03:42] feerrenrut commented on #39
Looking at `addons/windowsMagnifier.de.po` there is the following conflict. I'm going to try to track down where each of the revisions come from.
[code]

[2021-06-29 06:18] jmdaweb commented on #39
@CyrilleB79 no, I haven't contacted this author. I usually fix Markdown format directly in srt and repeat whenever the document is updated and breaks. It's easier than contacting each author, since only @josephsl and a few others format their Markdown correctly for the translation system. It might be a good idea writing a post in both nvda-translations and nvda-addons lists, and eventually publish

[2021-06-29 09:07] CyrilleB79 commented on #39
@jmdaweb, if you want to write something in the wiki, I would be very interested and probably other people. Just for Windows Magnifier documentation, I have had issues yesterday regarding:
* lists and sublists
* long links
Having this information in the wiki would have saved me from making various tests on the winMag doc yesterday.

When you have something in the wiki, you can communicate on the l

[2021-06-29 12:43] feerrenrut commented on #39
The website should be up to date again. The issues hasn't been determined, but we have made it easier to get more information. Please let us know if it happens again.

[2021-06-29 12:46] jmdaweb commented on #39
Thanks Reef.

[2021-06-29 21:13] CyrilleB79 commented on #39
Thank you. It seems to work correctly.

[2021-07-04 20:12] CyrilleB79 commented on #37
The synchronization issue occurs also for Windows Magnifier add-on, recently added to translation system.
And probably for many, or maybe all, add-ons in the translation framework.

@feerrenrut do you plan to have a look at this soon? Just to know for planification.
If not, I will have to copy manually the individual translated .po files from SVN to the GitHub repo when making a new release includ

[2021-07-04 20:18] CyrilleB79 commented on #35
Some updates after last Friday's evening synchronization:
* Now that I have fixed the case issue, all the translatable messages of this add-on have reached the SVN SRT repo.
* In the other direction however, the already translated messages from buildVars.py have not been merged in nvdaaddons/winMag repo; this issue that seems more global is tracked in #37 (cf. * In the other direction).

[2021-07-06 05:32] feerrenrut commented on #41
Yep, I'm fine with this @nvdaes. Feel free to open a PR. Do note that now the release is out, we are actively working on the add-on store, and making plans to replace the translation system. I'll mention you when the translation system plans become available.

[2021-07-06 05:32] feerrenrut commented on #41
I meant to say "now the release is almost out".

[2021-07-06 05:36] nvdaes commented on #41
OK @feerrenrut. I'm working in my fork of addonFiles to send the template there.

2021-07-06 7:32 GMT+02:00, Reef Turner ***@***.***>:

[2021-07-06 07:20] feerrenrut commented on #37
There were errors in the last translation run for this addon. It could be that this addon has been unlucky and not had a successful update in a while. There are so many add-ons and the system is fragile. The system is open, and I have tried to improve the documentation. For each case like this I have to look carefully at the state to understand what has happened and the appropriate way to fix it w

[2021-07-06 08:06] cary-rowen opened #45 "Why many add-on interface translations do not appear in the SVN repository"
Hi all, I've noticed that a lot of add-ons have been updated recently, but I don't see the interface translation po files for these add-ons in the SVN repository, what am I missing?

[2021-07-06 08:10] CyrilleB79 commented on #37
@feerrenrut I did not understand if you have fixed something or not.
If you have fixed something regarding Outlook Extended and Windows Magnifier, could you run svn2addon for them? I will then check in the result that everything goes well.
If you haven't fixed anything recently (i.e. after last Friday), there is still an issue. Maybe Windows Magnifier is easier to debug in a first time since addon

[2021-07-06 08:37] feerrenrut commented on #37
I haven't done any investigation or changed anything yet. This can be quite time consuming and seems to be happening a lot. I'll check for and fix any obvious issues on the server now then run the addon2svn script.

[2021-07-06 08:43] feerrenrut commented on #37
During that period the webhook was broken. Have you tried making another commit to the SRT repo?

[2021-07-06 08:46] CyrilleB79 commented on #37
Which period are you talking of exactly?
Also do you confirm me that svn2addon is scheduled once a week, every Friday?

[2021-07-06 08:53] CyrilleB79 commented on #45
Hi
There may be many reasons. I can see two of them:
* add-on are not integrated in translation framework, e.g. because the author did not make the request
* you did not enable them in the settings file of your language

You need to give more details if you want your question to be answered. List of the add-ons that are not updated and language for which you translate.

Thanks.

[2021-07-06 08:55] feerrenrut commented on #37
From the example given:

Yes, correct.

This week there was a svn lock error for 'outlook Extended'
I don't see any issues there right now. I'll run the script.

[2021-07-06 09:07] feerrenrut commented on #37
I had to run it many times, but eventually it completed without errors. I believe the script has a race condition, it is more likely to fail when there are updates to many languages.

[2021-07-06 09:56] cary-rowen commented on #45
Hello @CyrilleB79

wordNav, checkGestures, and Win Wizard did not appear in zh_cn/addons.

Thanks.

[2021-07-06 10:05] CyrilleB79 commented on #37
Outlook Extended seems OK now. Thanks.

Regarding Windows Magnifier:
Did you run the svn2addon script also for Windows Magnifier (winMag)? I cannot seen anything new in the stable branch of nvdaadon/winMag repo.
As a reminder, Windows Magnifier has been recently added to the translation framework and svn2addon has never worked successfully on this add-on.

[2021-07-06 10:10] CyrilleB79 commented on #45
I guess they are not part of the translation framework.
If you want them translated, you should ask the author to request their registration in the translation system.

[2021-07-06 10:17] feerrenrut commented on #37
I'm working through the addon's that had errors last Friday. I'm doing winMag now.

[2021-07-06 11:54] CyrilleB79 commented on #37
OK no problem. Many thanks.

[2021-07-07 04:25] feerrenrut commented on #37
I'm closing this issue, it appears to be resolved.

[2021-07-07 04:25] #37 closed

[2021-07-07 06:04] CyrilleB79 commented on #37
Hi Reef

Thanks for the work already done. Outlook Extended seems to be OK (interface and doc have been updatedd).

Unfortunately a problem remains with Windows Magnifier:
The interface seems to have been updated corectly: 4 .po files have been added in the `locale` folder. But no documentation file has been included in the add-on, although many pages of the website have already been translated (e

[2021-07-07 09:04] feerrenrut commented on #37
Could you please point me to these files.

[2021-07-07 09:05] feerrenrut commented on #37
The po files in the locale are fine. Please tell me the location of the translated documentation files, and where you expect them to end up.

[2021-07-07 09:25] CyrilleB79 commented on #37
Here is an example:

The source file is the following:
`SRT/website/addons/windowsMagnifier.fr.po`
This file has some translated messages (actually 100% translated).
The last commit was done before the last run of svn2addon. It is the following:
[code]

The destination file should be the following in the addonFile/winMag GitHub repo:
`addon/doc/fr/readme.md`

HTH

[2021-07-07 10:39] feerrenrut commented on #37
elsewhere the addon name is `winMag` why are these files called `windowsMagnifier.fr.po`?

[2021-07-07 10:42] feerrenrut commented on #37
Looking at the script, that seems likely to be the problem: https://github.com/nvaccess/mrconfig/blob/master/.sh.d/01_svn2addon.sh#L50

[2021-07-07 10:43] feerrenrut commented on #37
Was that file created by a human, or the system?

[2021-07-07 14:19] CyrilleB79 commented on #37
The file `windowsMagnifier.fr.po` is created or updated automatically each time `windowsMagnifier.mdwn` is updated.
The file `windowsMagnifier.mdwn` has been created manually (and is updated manually). The creation commit is the following:
[code]

I guess it is just a mistake. Cc @josephsl (who created it) and @nvdaes (who was also involved in translation system) for confirmation.

Note that some

[2021-07-07 14:58] nvdaes commented on #37
Thanks Cyrille, though now I cannot confirm issues about the system as
done previously, when I received notifications from the server and had
access to it.

Have a good day,

Noelia
Cheers,

2021-07-07 16:20 GMT+02:00, Cyrille Bougot ***@***.***>:

[2021-07-08 03:39] feerrenrut commented on #37
Ok. It seems very likely this is the issue. @CyrilleB79 will you be able to adjust that page / translation name?

[2021-07-08 03:41] feerrenrut commented on #45
You can check for inclusion of addons by looking at this file: https://github.com/nvaccess/mrconfig/blob/master/automatic.crontab

[2021-07-08 04:09] cary-rowen commented on #45
I thank, Some of the developers of these add-ons may not know how to register their translations.
Thank you both.
I close this issue first

[2021-07-08 04:09] #45 closed

[2021-07-08 06:53] CyrilleB79 commented on #37
Yes, I will take care of it.
I let you know when it is done.

[2021-07-08 06:57] CyrilleB79 commented on #45
Developers can ask guidance on the add-on mailing list if needed.

There has been a time when I was unsure if everything was working well in the translation framework and NVAccess (Reef) probably had less time to answer and fix issues due to NVDA 2021.1 release. Now, all the steps are completed successfully for Outlook Extended. And Reef answers more regularily to the requests regarding translatio

[2021-07-08 09:56] CyrilleB79 commented on #37
This is done. Any previous direct link to the add-on's page is not valid anymore.
But the internal links on the website are OK.

@feerrenrut you may want to run svn2addon again to check. Or I will wait the automatical run at the end of this week (Friday evening).
In any case, I'll let you know the result.

[2021-07-08 10:12] feerrenrut commented on #37
Looks like that was successful, stable branch has been updated:
https://github.com/nvdaaddons/winMag/commit/d6c8a5a4a4cb75ea6a40a440be4f3c089d3b2fda

[2021-07-08 11:30] nvdaes commented on #37
Then I'll look at eMule and pcKbBrl .mdwn in case this may cause
issues, and rename then according to the repo.

2021-07-08 12:12 GMT+02:00, Reef Turner ***@***.***>:

[2021-07-08 12:35] CyrilleB79 commented on #37
@feerrenrut wrote:

Yes confirmed. This issue is resolved. Many thanks Reef for all the investigations and the fixes!

@nvdaes wrote:

Yes for pcKbBrl.
For eMule, it is just a case issue and it does not seem to be problematic. Just keep it in mind if you see issues in the translation for this ad-on in the future.

[2021-07-08 12:37] nvdaes commented on #37
Ok Cyrille (from mobile)

[2021-07-20 11:51] CyrilleB79 commented on #32
@feerrenrut, this add-on and other ones are waiting for their inclusion in the translation framework.
Now that the various existing issues have been fixed with Windows Magnifier add-on (thanks again), do you plan to integrate soon Character Information as well as other add-ons for which inclusion was required?
Thanks.

[2021-07-21 09:21] Nardol opened #47 "Dropbox issue now fixed"
I've just fixed Nardol/Dropbox#1 which should allow Dropbox to be translatable again.

[2021-07-21 09:28] feerrenrut commented on #47
Re-enabled, thanks @Nardol

[2021-07-21 09:28] #47 closed

[2021-07-21 09:40] feerrenrut commented on #30
Completed via 353827b00e4a53fdbba4b0a8cf05e63caae4fd36 and 574c3dbb3d8e1df87a671e26ae01f5bfa2c3883a

[2021-07-21 09:40] #30 closed

[2021-07-21 10:25] feerrenrut commented on #32
I have set this up, but there is an error, @nvdaes nvaccessAuto needs permission to push to https://github.com/nvdaaddons/charInfo

[2021-07-21 11:02] lukaszgo1 opened #48 "[Register WinWizard in translation system]:"
### Add-on name

WinWizard

### Add-on maintainer

lukaszgo1

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-07-21 13:03] nvdaes commented on #32
Hello: Now I've granted write access to NvaccessAuto.

2021-07-21 12:25 GMT+02:00, Reef Turner ***@***.***>:

[2021-07-21 14:33] CyrilleB79 commented on #32
Thanks.
More generally, shouldn't NvaccessAuto have the right for all repos in nvdaaddons account? Unless it is already the case of course.
This would prevent @nvdaes to grant new rights for each new fork.

[2021-07-21 14:52] nvdaes commented on #32
For me it would be a good idea. For any reason NvaccessAuto cannot
write in new forked repos, but for now the only option that I find is
to make it an owner @Josephsl
And I don't know if it's a good idea dealing with an automation
system, in case of some unintentional failure

2021-07-21 16:33 GMT+02:00, Cyrille Bougot ***@***.***>:

[2021-07-22 04:31] feerrenrut commented on #32
Just a reminder, even though it looks like we are putting work to optimize the mrconfig based translation system, we plan to move to anew more distributed approach. @CyrilleB79 you may be interested to read: https://github.com/nvaccess/translationSystem

[2021-07-22 04:35] feerrenrut commented on #41
This was completed with #46

[2021-07-22 04:35] #41 closed

[2021-07-22 04:37] feerrenrut commented on #5
We plan to abandon the mrconfig based approach, overview of new approach: https://github.com/nvaccess/translationSystem

[2021-07-22 04:37] #5 closed

[2021-07-22 04:37] feerrenrut commented on #6
We plan to abandon the mrconfig based approach, overview of new approach: https://github.com/nvaccess/translationSystem

[2021-07-22 04:37] #6 closed

[2021-07-22 04:38] feerrenrut commented on #7
We plan to abandon the mrconfig based approach, overview of new approach: https://github.com/nvaccess/translationSystem

This will involve moving the contents of SRT to GitHub.

[2021-07-22 04:38] #7 closed

[2021-07-22 04:39] feerrenrut commented on #8
We plan to abandon the mrconfig based approach, overview of new approach: https://github.com/nvaccess/translationSystem

This will include transitioning to a new approach for t2t files.

[2021-07-22 04:39] #8 closed

[2021-07-22 04:43] feerrenrut commented on #32
Thanks for fixing the permissions @nvdaes. This addon is now registered.

[2021-07-22 04:43] #32 closed

[2021-07-22 04:44] feerrenrut commented on #17
Here is the overview of the new translation system for anyone watching this issue https://github.com/nvaccess/translationSystem

[2021-07-22 04:44] #17 closed

[2021-07-22 04:55] nvdaes commented on #17
Thanks @feerrenrut. People on add-ons mailing list maybe interested about this regarding the website. I'll send this there along links to related repos mrconfig and addon-store-submission, pointing out that it's a work in progress.

[2021-07-22 05:32] feerrenrut commented on #36
This is complete.

[2021-07-22 05:32] #36 closed

[2021-07-22 05:48] feerrenrut commented on #40
This has been completed.

[2021-07-22 05:55] feerrenrut commented on #48
This has been completed.

[2021-07-22 05:55] #48 closed

[2021-07-22 06:02] feerrenrut opened #49 "[Register add-on in translation system]: easyTableNavigator"
### Add-on name

easyTableNavigator

### Add-on maintainer

@josephsl

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-07-22 06:05] josephsl commented on #49
HI, and I hereby give permission to let NV Access maintain a copy of l10n data for this add-on (although I don’t maintain this add-on anymore, as the original creator, I give you my blessing). Thanks.

[2021-07-22 06:37] feerrenrut commented on #49
Completed.

[2021-07-22 06:37] #49 closed

[2021-07-30 08:20] lukaszgo1 opened #51 "Translation files for WinWizard not present in the SVN"
In #48 I've asked for WinWizard to be included in the translations system. While the issue has been closed as fixed  no *.po files appear for translators in the SVN even for languages for which translations for WinWizard are enabled. Originally reported by @cary-rowen  cc @feerrenrut Would you be able to look into this?

[2021-07-31 01:07] ruifontes opened #52 "[Register add-on in translation system]: systrayList"
### Add-on name

systrayList

### Add-on maintainer

@ruifontes

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-08-01 11:00] nvdaes opened #53 "[Register add-on in translation system]: searchWith"
### Add-on name

searchWith

### Add-on maintainer

@ibrahim-s

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-08-01 12:25] Nardol opened #54 "[Register add-on in translation system]: Say Product Name And Version"
### Add-on name

SayProductNameAndVersion

### Add-on maintainer

@Nardol

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-08-01 12:29] #54 closed

[2021-08-01 12:31] Nardol opened #55 "[Register add-on in translation system]: Say Product Name And Version"
### Add-on name

SayProductNameAndVersion

### Add-on maintainer

@Nardol

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-08-01 12:36] Nardol commented on #55
Sorry for the double-mistake

[2021-08-01 12:36] #55 closed

[2021-08-01 12:37] Nardol opened #56 "[Register add-on in translation system]: Say Product Name And Version"
### Add-on name

SayProductNameAndVersion

### Add-on maintainer

@Nardol

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-08-02 09:44] feerrenrut commented on #40
@nvdaes Could you confirm that GitHub user @nvaccessAuto has write access to the directLink repository? Currently the translation update is failing with
[code]

[2021-08-02 09:50] nvdaes commented on #40
I have granted access to @nvaccessAuto right now. Previously it wasn't granted.

[2021-08-02 10:38] feerrenrut commented on #51
The issue has been found and addressed. This should be resolved.

[2021-08-02 10:38] #51 closed

[2021-08-02 10:42] feerrenrut commented on #40
Thanks, this now seems to be working.

[2021-08-02 10:42] #40 closed

[2021-08-02 10:53] cary-rowen commented on #51
Yes, this has been resolved.

[2021-08-12 14:10] bdorer commented on #7
I removed 1 gb of data.a, 5865 files. There are more than 2200 not translated po files wich I could remove if desired.

[2021-08-15 10:12] mohammad-suliman opened #57 "[Register add-on in translation system]:"
### Add-on name

Zoom Accessibility Enhancements

### Add-on maintainer

@mohammad-suliman

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-08-16 07:05] nvdaes commented on #57
@mohammad-suliman , the add-on name shouldn't contain spaces (it's not the summary or display name but the internal name or identifier). Also, stable branch means stable branch in the nvdaaddons repo and it'is not present since your add-on is not forked yet. You need to wait to create the issue until the add-on has been forked, or the member of the nvdaaddons organization can create the issue for

[2021-08-16 09:29] feerrenrut commented on #52
systrayList is already translatable via the system.

For instance it is enabled for Spanish translators:
https://app.assembla.com/spaces/screenReaderTranslations/subversion/source/HEAD/es/settings/#ln48

The final steps require merging from nvdaaddons/systrayList 'stable' branch. For detailed instructions see https://github.com/nvaccess/mrconfig#maintaining-the-add-on

I'll close this issue.

[2021-08-16 09:29] #52 closed

[2021-08-16 10:53] feerrenrut commented on #53
searchWith is now available for translation

[2021-08-16 10:53] #53 closed

[2021-08-16 11:03] feerrenrut commented on #56
@nvdaes Please give @nvaccessAuto commit permissions for nvdaaddons/sayProductNameAndVersion

Perhaps give nvaccessAuto permissions by default for new repositories?

[2021-08-16 11:08] feerrenrut commented on #57
The actual addon repo seems to be: https://github.com/mohammad-suliman/zoom-enhancements

The addonName / id from buildVars.py is: "zoomEnhancements"

These will work fine.
Next steps:
- @mohammad-suliman please create a branch called 'stable' on the repository.
- Then, @nvdaes please fork and give permissions to @nvaccessAuto

[2021-08-16 11:27] Nardol commented on #56
As I am a organisation member, I have been able to do it just now.
It should be OK now for nvdaaddons/sayProductNameAndVersion repository.

[2021-08-16 12:18] nvdaes commented on #56
Hi @feerrenrut, I'll see if default permissions for nvaccessauto can
be granted. I'll do later today

2021-08-16 13:04 GMT+02:00, Reef Turner ***@***.***>:

[2021-08-16 12:26] nvdaes commented on #57
I'll fork the repo when Mohammad creates the stable branch and try to
grant write permission to nvaccessauto.

2021-08-16 13:08 GMT+02:00, Reef Turner ***@***.***>:

[2021-08-16 12:45] mohammad-suliman commented on #57
Thanks for the quick responses! Just to be sure, I need to create the
stable branch in my repo, correct?

On Mon, 16 Aug 2021 at 15:26, Noelia Ruiz Martínez ***@***.***>
wrote:

[2021-08-16 12:49] nvdaes commented on #57
Yes please, create the stable branch in your repo and then I'll fork it.

2021-08-16 14:45 GMT+02:00, mohammad-suliman ***@***.***>:

[2021-08-16 13:41] mohammad-suliman commented on #57
Thanks Noelia! The branch has been created.

On Mon, 16 Aug 2021 at 15:49, Noelia Ruiz Martínez ***@***.***>
wrote:

[2021-08-16 16:01] nvdaes commented on #56
The only way to grant permissions to nvaccessauto seems to be converting this account to an owner like @Josephsl and me. I think it"s not a bad idea. If you don"t find any other way, I"ll do it tomorrow to avoid extra work.

Enviado desde mi iPhone

[2021-08-17 04:42] nvdaes commented on #57
@mohammad-suliman, I've sent you an invitation to the nvdaaddons fork of your repo so you can maintain it (write access).
@feerrenrut , now nvaccessauto is an owner of nvdaaddons organization, so the account has full permissions for all repos. You can register this add-on in the translations system. I think that, if you want GitHub Actions to check this like done in other issues, this has to be ed

[2021-08-17 08:35] feerrenrut commented on #56
Thanks @nvdaes and @Nardol, this is complete.

[2021-08-17 08:35] #56 closed

[2021-08-17 09:03] feerrenrut commented on #57
For reference, the repository name should match the addon name, with some manual effort I can work around it in this case. No action required from @mohammad-suliman or @nvdaes

zoomEnhancements is now available for translation.

[2021-08-17 09:03] #57 closed

[2021-09-07 18:38] nvdaes opened #58 "[Register add-on in translation system]: access8Math"
### Add-on name

Access8Math

### Add-on maintainer

@tsengwoody

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-09-07 18:53] nvdaes commented on #58
@tsengwoody, GitHub Actions cannot build the .pot file and scons is terminated. Check the actions link to see tha workflow failure corresponding to this issue. Maybe you have a non ascii character? Unless @feerrenrut says a different thing, you should fix this before this add-on can be included in the translations system.
Also, usually add-on names start in lowercase, but I think that this will no

[2021-09-07 20:03] CyrilleB79 commented on #58
Yes, `A8M_PM.py` has a BOM at the beginning.
The file should be formatted in UTF8 without BOM (due to gettext limitation if I remember well).

[2021-09-08 00:11] tsengwoody commented on #58
I update my repository to fixed A8M_PM.py bom character and use gettext to translate about message.
Do I need do any another step?

[2021-09-08 06:33] nvdaes commented on #58
Lets close and reopen to see if GitHub Actions can build the add-on now.

[2021-09-08 06:43] nvdaes commented on #58
This is not working for now. I suggest you:

- See section encoding of the [contributing to NVDA document](https://github.com/nvaccess/nvda/wiki/Contributing)
- - You may want to use a GitHub workflow created by @mhameed, first creator of the current translation system used by NVDA and add-ons, contributor to add-ons and to the add-on template among other things. This GitHub workflow created by hi

[2021-09-08 06:59] CyrilleB79 commented on #58
@tsengwoody, you have updated the stable branch in your repo, but you need to push it to the nvdaaddons fork of your repo (https://github.com/nvdaaddons/Access8Math.git).
The translation framework looks and interact with this fork, not your personal repo so you need to synchronize them.

[2021-09-08 07:19] tsengwoody commented on #58
I seem to have`t write permission
git push got error
fatal: unable to access 'https://github.com/nvdaaddons/Access8Math/': The requested URL returned error: 403
or how to synchronize?

[2021-09-08 07:31] nvdaes commented on #58
Thanks Cyrille and Woody. @tsengwoody, I've just invited you to the
repo in nvdaaddons organization. Please accept the invitation and push
to stable branch.

2021-09-08 9:19 GMT+02:00, Tseng Woody ***@***.***>:

[2021-09-08 07:59] tsengwoody commented on #58
I updated nvdaaddons repo please try again

[2021-09-08 08:08] nvdaes commented on #58
Thanks. All is right now, ready to be included in the translations system when @feerrenrut  can do it.

[2021-09-14 08:58] feerrenrut commented on #58
This should now be available for translation.

[2021-09-14 08:58] #58 closed

[2021-09-15 19:33] nvdaes opened #59 "[Register add-on in translation system]: columnsReview"
### Add-on name

columnsReview

### Add-on maintainer

@ABuffEr

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-09-16 00:39] feerrenrut commented on #59
columnsReview should now be available for translation.

[2021-09-16 00:39] #59 closed

[2021-09-30 20:00] CyrilleB79 opened #60 "Update the documentation"
I have asked to have [Speech History](https://github.com/jscholes/nvda-speech-history) add-on included in translation framework (cf. https://github.com/jscholes/nvda-speech-history/issues/23).

I realize that the add-ons need to be based on the add-on template to be compatible with the translation system. But it is not documented in the readme of this repo. More specifically:
* The files `sconstru

[2021-11-03 12:13] jmdaweb opened #61 "[Register add-on in translation system]: Update Channel Selector"
### Add-on name

updateChannel

### Add-on maintainer

@jmdaweb

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-11-03 12:14] jmdaweb commented on #61
Link to the thread requesting registration in the translation system: https://nvda-addons.groups.io/g/nvda-addons/message/17407
Note that the repos haven't been forked to NVDAAddons organization yet.

[2021-11-03 12:15] jmdaweb opened #62 "[Register add-on in translation system]: Proxy support"
### Add-on name

proxy

### Add-on maintainer

@jmdaweb

### Stable branch

- [X] Stable branch exists in add-on repo

[2021-11-04 16:56] jmdaweb commented on #62
@nvdaes, can the fork be renamed from nvda-proxy-support to proxy? I know @feerrenrut can fix manually this problem, but that might be a better solution.
Thanks.

[2021-11-04 17:00] nvdaes commented on #62
I"ve renamed the repo now.

[2021-11-17 10:23] CyrilleB79 opened #64 "Access8Math translations are not updated in nvdaaddons repo"
In the [nvdaaddons/Access8Math](https://github.com/nvdaaddons/Access8Math) repo, the last commit of the stable branch is:

[code]

However, on SVN SRT repo, there are more recent translations, e.g.:
[code]

The stable branch should have been updated with new translations (usually every week).

@feerrenrut could you have a look at it?

Cc @tsengwoody, author of the add-on.

[2021-11-17 10:39] CyrilleB79 commented on #64
Nothing to do with Access8Math translation, but:
For information, a GitHub action has been triggered on this issue and I have received an e-mail message with the following indication:
"Check stable branch: All jobs have failed"

These checks only make sense if the issue regards a new add-on inclusion in the translation framework.
@feerrenrut, @nvdaes is there a way to trigger it only when the temp

[2021-11-17 11:43] nvdaes commented on #64
Hi Cyrille, I think this is possible using paths in the workflow. I'll
look all the next weekend.

2021-11-17 11:39 GMT+01:00, Cyrille Bougot ***@***.***>:

[2021-11-17 12:06] feerrenrut commented on #64
There were paths in comments in the po file. These shouldn't end up in there. They are supposed to be removed via the filter in the `.gitattributes` file. I removed them, see commit: https://github.com/nvdaaddons/Access8Math/commit/c1b85f693d0a1362014d07e6b0fa2dc4b13d368e

[2021-11-17 12:06] #64 closed

[2021-11-17 12:21] feerrenrut commented on #61
updateChannel should now be available for translators.

[2021-11-17 12:22] #61 closed

[2021-11-17 12:31] feerrenrut commented on #62
proxy should now be available for translators.

[2021-11-17 12:31] #62 closed

[2021-11-17 13:26] CyrilleB79 commented on #64
Thanks for the very quick fix!

[2022-01-03 10:58] CyrilleB79 opened #68 "Access8Math - Documentation update broken in svn2addon direction"
For Access8Math, the website documentation has been updated for French and Spanish (maybe also other languages).
However it has not been updated in the stable branch of nvdaaddons/Access8Math repo.
I have not looked at other add-ons to see if they suffer from the same issue.

@feerrenrut could you have a look at it please when you're back? Thanks.

Cc @tsengwoody, author of Access8Math add-on.

[2022-01-06 11:03] CyrilleB79 opened #69 "Notifications from SRT repo not received anymore"
I do not receive any notification regarding activities on the screenreadertranslations repo anymore.
This has been so for 3-4 weeks.

I have [asked](https://groups.io/g/nvda-translations/topic/88100515#2822) on the translators mailing list and the issue seems the same for at least another person.

I used to receive notifications for modifications in the 'fr' folder (French) as well as in the 'webs

[2022-01-26 08:27] CyrilleB79 opened #70 "Update `SRT/global.t2tconf` automatically"
In the screenreader translations SVN repo, the `global.t2tconf` file is updated for each release with the new release version and updated copyright years if needed. The part of the file which is updated are the following lines:

[code]

Today it seems that this updates are done manually by @josephsl (a.k.a. nvdakor in SVN) for each release. Moreover, I do not know if it is documented somewhere; @j

[2022-01-26 08:31] josephsl commented on #70
Hi, I update copyright year as soon as it is updated on NVDA source code itself, and I don’t think this process is documented. Thanks.

[2022-02-11 09:29] feerrenrut commented on #69
Sorry it took a while to come to this, can you confirm this issue is still ongoing? I seem to have recent emails about translation activity.

[2022-02-11 11:34] CyrilleB79 commented on #69
Hello

Thanks for taking care of this issue.

Yes, the issue is still present on my side. I think that I have not received any notification from SRT repo since the beginning of the year (2022). I have subscribed to 'fr' and 'website' notifications.

I have sent an e-mail in [this thread](https://groups.io/g/nvda-translations/topic/88100515?p=Created,,,100,1,0,0::recentpostdate/sticky,,,100,2,0,881

[2022-02-11 12:02] cary-rowen commented on #69
Hi,
I almost never get a notification.
Thanks

[2022-02-22 02:44] feerrenrut commented on #69
Translators expect to get an email when changes are made to files for any languages their email address is registered for. The registration is file:
[mrconfig/addressData.py at master · nvaccess/mrconfig (github.com)](https://github.com/nvaccess/mrconfig/blob/master/scripts/addressData.py)

I'm going to close this for now, please re-open if there are any new issues. There are several known issues

[2022-02-22 02:44] #69 closed

[2022-02-24 05:32] feerrenrut opened #71 "Translation notifications do not get sent for large updates"

[2022-03-24 15:48] jmdaweb opened #72 "Missing documentation in two of my add-ons"
Hi,
After updating translations for Proxy and UpdateChannel, I see that the doc folder doesn't exist on the stable branch. I am receiving only interface po files. I'd like to include all translated documentation before releasing versions compatible with NVDA 2022.1.
I'm not sure wether this problem is caused by mrconfig or something not properly configured on these repositories, so I decided to op

[2022-03-28 15:06] jmdaweb commented on #72
CC: @feerrenrut

[2022-03-30 08:10] jmdaweb commented on #68
I opened issue #72 without looking at this one first, but seems that the problem is the same. At least, Access8math has documentation. Proxy and updateChannel are in a worse state.

[2022-03-30 13:00] CyrilleB79 commented on #68
Ping @feerrenrut for this issue and #72.

Could you please have a look at it in the coming days? Since it is the period where people should upgrade compatibility with 2022.1:
* some people are waiting for this update to release their add-on
* maybe some others release their add-on missing the last translation work
Thanks.

[2022-04-01 07:43] jmdaweb commented on #68
Hi,
I have just received documentation updates for Golden Cursor, so we can confirm that this isn't a general problem for all add-ons.
Regards.

[2022-04-05 07:36] michaelDCurran commented on #68
I noticed that both Access8Math and directLink addons had uncommitted changes in their git repos on our server. Specifically nvda.po for ru, zh_CN and zh_TW for access8Math.
These uncommitted changes were to strip the file path comments from the po files. This is automatically done by our gitconfig, but at some point (possibly due to a server upgrade several months aback) git may have been run und

[2022-04-06 15:25] CyrilleB79 commented on #68
For Access8Math, maybe the impacted languages are the ones which have been merged via direct PRs in the repo rather than via the translation framework.
@tsengwoody, would you be able to confirm this or not?

[2022-04-07 01:49] tsengwoody commented on #68
I merge and update impacted languages zh_TW

[2022-04-27 09:33] jmdaweb commented on #72
After studying the svn2addon script, I will rename nvdaproxy and updateChannelSelector documents to proxy and updateChannel. This may cause the RSS feed to be refreshed and several e-mails triggered on some groups. If the documentation is merged on friday, I will close this issue.
CC: @nvdaes

[2022-04-29 20:18] jmdaweb commented on #72
Hi,
After renaming files on SRT, the proxy support add-on has received successfully the documentation. However, seems something went wrong when merging updateChannel on the server. @michaelDCurran could you please take a look?
Thanks.

[2022-04-30 08:47] jmdaweb commented on #72
Seems fixed, closing. Thank you very much.

[2022-04-30 08:47] #72 closed

[2022-05-04 05:17] nvdaes opened #77 "[Register add-on in translation system]: cursorLocator"
### Add-on name

cursorLocator

### Add-on maintainer

@nvdaes

### Stable branch

- [X] Stable branch exists in add-on repo

[2022-05-16 05:29] feerrenrut commented on #68
It sounds like this is resolved. I'm going to close this issue. Please open a new issue if there are still issues.

[2022-05-16 05:29] #68 closed

[2022-07-03 17:51] nvdaes commented on #77
Ping @feerrenrut.
Can you register this in the translation system?
cc: @sergiogomez31, coauthor of the add-on.

[2022-07-27 04:49] nvdaes opened #79 "[Register add-on in translation system]: enhancedAnnotations"
### Add-on name

enhancedAnnotations

### Add-on maintainer

nvdaes

### Stable branch

- [X] Stable branch exists in add-on repo

[2022-07-27 04:51] nvdaes commented on #79
cc: @GeorcheKerscher @ruifontes

[2022-07-29 14:25] CyrilleB79 opened #80 "Some files not generated by the translation system for Georgian language (ka)"
### Issue
The translation framework scripts do not create any file in the following folders of the SVN screenreadertranslations (SRT) repo:
* `ka\changes-newRevisions`
* `ka\symbols-newRevisions`
* `ka\userGuide-newRevisions`

### Context
Issue discussed initially [on the translation mailing-list](https://groups.io/g/nvda-translations/topic/enable_all_symbol_revisions/92686819?p=,,,100,0,0,0::rece

[2022-07-31 09:15] DraganRatkovich commented on #80
Hi,

Thanks @CyrilleB79 for opening the issue. I'm Shaban from the translation mailing list.

Looking forward to more details on this issue.

[2022-09-02 13:55] DraganRatkovich commented on #80
Hello,
@CyrilleB79 @feerrenrut Is there any progress on this issue?

[2022-09-09 19:59] CyrilleB79 opened #81 "Issue with Turkish translation"
@feerrenrut, @seanbudd, could you please have a look at this issue before the end of translation freeze?

### Context
Issue reported by Turkish translator in [this thread](https://groups.io/g/nvda-translations/topic/an_issue_with_turkish/93569115?p=,,,100,0,0,0::recentpostdate/sticky,,,100,2,0,93569115,previd%3D1662718078956949352,nextid%3D1631259669292295884&previd=1662718078956949352&nextid=1631

[2022-09-12 05:18] feerrenrut commented on #81
Error sent out by translation system in response to that revision:
[code]

[2022-09-13 00:58] seanbudd commented on #81
Closing as per resolution in the mailing list thread, the fix has been pushed by translators

[2022-09-13 00:58] #81 closed

[2022-09-28 03:17] seanbudd commented on #80
From what I understand from reading the thread, it appears that several missing files need to be created in [`/srt/ka`](http://subversion.assembla.com/svn/screenReaderTranslations/ka/).
For example, compare to [`/srt/es`](http://subversion.assembla.com/svn/screenReaderTranslations/es/).

It is not immediately clear to me what is preventing translators from pushing the necessary files to the reposi

[2022-09-28 03:37] seanbudd commented on #79
Apologies for the late actioning.
This should now be registered.

[2022-09-28 03:37] #79 closed

[2022-09-28 03:38] seanbudd commented on #77
Apologies for the late actioning.
This should now be registered.

[2022-09-28 03:38] #77 closed

[2022-09-28 14:47] DraganRatkovich commented on #80
Hello,
@seanbudd In any case, I will focus only on translating the interface. The Georgian language has long been abandoned, so there may be errors in the process of creating a file by the system. As soon as something changes regarding other translatable files, I will consider translating them.

[2022-09-28 14:49] DraganRatkovich commented on #80
Hi,
@seanbudd Files are not created for a long time. Changes, symbols, user manual files, etc. So I don't know how to add them back to the Georgian folder. In addition, every time when new revisions of symbols and changes appear in folders in other languages, in this case the folder in Georgian remains empty. In any case, I will focus only on translating the interface. The Georgian language has lo

[2022-09-30 03:42] seanbudd commented on #77
Apologies, it looks like `automatic.crontab` was given the wrong reference, so this was not correctly registered.

This should be fixed as of https://github.com/nvaccess/mrconfig/commit/8c26149c4d78637e06128ae050d0969fe5d3aaec

[2022-10-14 22:17] CyrilleB79 commented on #80
I have added the missing files and updated the settings file with the last hash info.
Today, the first merge to beta of 2022.4 has been pushed in SRT repo and the new revision have been generated, at least for change log and user guide. Regarding symbols, there are no new symbols for 2022.4, so no new revision.

Thus this issue can now be closed. We may reopen it if something does not work.

Addit

[2022-10-14 22:17] #80 closed